// colors
$blue: blue;
$red: red;


// Custom tabview buttons
.button-group {
    width: 100%;
    background-color: #FCFCFC; //todo: farvevariable
    display: flex;
    border-radius: 8px; //todo: variable
    height: 2.3em;
    padding: 3px;
    gap: 3px;
    box-shadow: 0 2px 4px #30303040; //todo: farvevariable

    .button-group-item {
        // flex-grow: 1;
        height: 100%;
        // width: 50%;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition:all .2s linear;

        &.active {
            background-color: #F9D6BC; //todo: variabel
            border-radius: 5px; //todo: variable
        }

        p {
            margin: 0;
        }
    }
}
