:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background: rgb(169, 213, 227);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#app {
  min-height: 100%;
  margin: 0;
  padding: 0;

  background: url(./assets/background.svg);
  background-attachment: local;
  background-size: 100%;
  background-repeat: repeat;
}
